<div class="cont-shoes">
    <div class="card" >
        <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRIbMNPTls96hsz4WwXcFO06dNlG2Mqn3x0IlK1b7Pr0XqcpUA_fxCxaSN_SbDAclUVGVGuAQPXn3-XcH_s9wZuMeMzYD3J46R8wRDXn_tI13YkhwSVCDBmRg&usqp=CAE" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Air Jordan 1 Low</h5>
        <p class="card-text">
            Las Nike Air Jordan 1 Retro Low es una de las zapatillas más vendidas de la historia en el ámbito del calzado deportivo. 
            Con fecha de lanzamiento en el año 1985, supuso una gran historia para la NBA.
        </p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio</li>
        <li class="list-group-item">Siluetas</li>
        <li class="list-group-item">Diseñador</li>
        </ul>
        <div class="card-body">
        <a href="#" class="card-link">Mejor precio</a>
        <a href="#" class="card-link">Retail</a>
        </div>
    </div>
    <div class="card" >
        <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTpkR2QQ0PLQzYtRfnJApBR2KjvjmYWj45HMu6bpLjOIvakDk73YK3gwNcpiQTztGaDFETx3_msiFUGEXfL8_0ArHRqFoDlVu7w4HjDCJBAoR7OC_UewBLpwg&usqp=CAE" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Air Jordan 1 Zoom</h5>
        <p class="card-text">
            Este calzado es un nuevo capítulo en la historia de este icónico modelo en el que se ha 
            agregado gamuza suave con un forro de microfibra y una amortiguación Zoom completa y mejorada 
            en la planta del pie. 
        </p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio</li>
        <li class="list-group-item">Siluetas</li>
        <li class="list-group-item">Diseñador</li>
        </ul>
        <div class="card-body">
        <a href="#" class="card-link">Mejor precio</a>
        <a href="#" class="card-link">Retail</a>
        </div>
    </div>
    <div class="card" >
        <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSkxzsZQu7f6ClgPRLPTXfj-ph2BCtm9r0ggmQj9r5mEspZp1p48BwBA7fFA0NVqIVvRO81aCDP8Z4xjqJ4oYkT9AQfgFKVALpZSwY2wntv36FpCf67JzL0&usqp=CAE" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Nike Air Force 1</h5>
        <p class="card-text">
            El fulgor vive en el Nike Air Force 1 ’07, el OG de básquetbol que le da un toque 
            fresco a lo que mejor conoces: acabados impecables 
            y la cantidad perfecta de destellos para que brilles.
        </p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio</li>
        <li class="list-group-item">Siluetas</li>
        <li class="list-group-item">Diseñador</li>
        </ul>
        <div class="card-body">
        <a href="#" class="card-link">Mejor precio</a>
        <a href="#" class="card-link">Retail</a>
        </div>
    </div>
</div>