.cont-shoes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2%;
}
.card {
    width: 25%;
}
.card-img-top {
    width: 70% !important;
    margin: auto;
}
@media (max-width: 991px) {
    .card {
        width: 35%;
        margin-bottom: 3%;
    }
}
@media (max-width: 768px) {
    .card {
        width: 45%;
    }
}
@media (max-width: 550px) {
    .card {
        width: 49%;
    }
}
@media (max-width: 480px) {
    .card {
        width: 75%;
    }
}